body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("heart-bg.jpg");
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
    overflow: hidden;
    
}
a {
    text-decoration: none;
}
.contenedor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450%;
    
    background-image: url("img/fondo.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;

    animation: mover 60s linear infinite;
}

/* Capa oscura */
.fondo::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* ← cambia 0.4 para más o menos oscuridad */
}


@keyframes mover {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50%);
    }
}





/* Envelope Screen */
#letter-container{
    display: flex;
    position:fixed;
    inset: 1;
    justify-content: center;
    align-items: center;
}


.letter-window{
    width: 55vw;
    max-width: 800px;
    aspect-ratio: 3/2;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("window.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    gap: 1px;
    padding-top: 180px;

    transform: scale(1.2);
    
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.letter-window.open {
    transform: scale(1);
    opacity: 1;
}

h1 {
    font-size: 200%;
    margin:0;
}

p {
    font-size: 40px;
}

/* Cat */

.cat {
    width: 25%;
    margin: 10px 0;
    transition: width 0.4s ease;
}

.letter-window.final .cat {
    width: 20%;
}

/* buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.no-wrapper{
    position:relative;
}

.btn {
    width: 120px;
    cursor: pointer;
    user-select: none;
}

.yes-btn,
.no-btn {
width: 120px;
height: auto;
display: inline-block;
}

.yes-btn {
    position: relative;
    z-index: 2;
    transform-origin: center center;
    transition: transform 0.3s ease;
}

.no-btn {
    z-index: 1;
    position: relative;
    transition: transform 0.15s ease;
    cursor: default;
}

.final-text{
    font-size: 22px;
    line-height: 1.4;
    text-align: center;
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: rgba(255,240,240,0.5);
    border-radius: 12px;
}

#continue {
    text-decoration: none;
}
